<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">

    <h2>House Detail</h2>

    <div>
        <a th:href="@{/api/houses/addForm}">
            New House
        </a>
    </div>

    <hr>

    <table>

        <thead>
        <tr>
            <th>Street</th>
            <th>House number</th>
            <th>Entry number</th>
            <th>City</th>
            <th>Persons</th>
        </tr>
        </thead>

        <tbody>

        <tr>

            <td th:text="${house.street}"/>
            <td th:text="${house.houseNumber}"/>
            <td th:text="${house.entryNumber}"/>
            <td th:text="${house.city}"/>
            <td>
                <a th:href="@{'/api/houses/' + ${house.resourceId} + '/persons'}">view | </a>
                <a th:href="@{'/api/houses/' + ${house.resourceId} + '/updateForm'}">update |</a>
                <a th:href="@{'/api/houses/' + ${house.resourceId} + '/delete'}">delete </a>
            </td>
        </tr>

        </tbody>

    </table>

</div>

</body>
</html>
