<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">

    <h2>Houses</h2>
    <hr>

    <div>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/api/houses/addForm}">New House</a>
    </div>

    <hr>

    <table>

        <thead>
        <tr>
            <th>Street <a th:href="@{/api/houses/sort(param='street')}">asc|</a><a th:href="@{/api/houses/sort(param='street,desc')}">desc</a></th>
            <th>House number <a th:href="@{/api/houses/sort(param='houseNumber')}">asc|</a><a th:href="@{/api/houses/sort(param='houseNumber,desc')}">desc</a></th>
            <th>Entry number <a th:href="@{/api/houses/sort(param='entryNumber')}">asc|</a><a th:href="@{/api/houses/sort(param='entryNumber,desc')}">desc</a></th>
            <th>City <a th:href="@{/api/houses/sort(param='city')}">asc|</a><a th:href="@{/api/houses/sort(param='city,desc')}">desc</a></th>
            <th>Detail</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="house : ${houses}">

            <input type="hidden" th:value="${house.resourceId}" />

            <td th:text="${house.street}"/>
            <td th:text="${house.houseNumber}"/>
            <td th:text="${house.entryNumber}"/>
            <td th:text="${house.city}"/>
            <td>
                <a th:href="@{'/api/houses/' + ${house.resourceId}}">view</a>
            </td>
        </tr>

        </tbody>

    </table>

</div>

</body>
</body>
</html>
